:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Titillium Web", sans-serif;
  /* primary has all weights, secondary has reg, sbold, bold and black */
  --fw-black: 900;
  --fw-ebold: 800;
  --fw-bold: 700;
  --fw-sbold: 600;
  --fw-med: 500;
  --fw-reg: 400;
  --fw-light: 300;
  --fw-200: 200;
  --fw-thin: 100;
  --dark-blue: #121b27;
  --white: #fdfdfd;
  --light-grey: #b8b8b8;
  --grey: #afafaf;
  --accent: #07f365;
  --accent-dark: #068539;
  /* --accent-dark: #07db5c; */
  /* --accent-hover: #9dc3c2; */
  --fs-xxl: clamp(46px, 8vw, 96px);
  --fs-xl: clamp(36px, 6.5vw, 64px);
  --fs-l: 40px;
  --fs-m: 30px;
  --fs-body-hover: 24px;
  --fs-body: 20px;
  --fs-sm: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  color: var(--white);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--dark-blue);
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
  margin: 0;
}
p {
  margin: 0;
}
/* button styles */
.primary-btn {
  padding: 0.75em 1.25em;
  border: solid 2px var(--accent);
  color: var(--white);
  border-radius: 100px;
  background-color: var(--dark-blue);
  cursor: pointer;
  font-weight: var(--fw-sbold);
}
.primary-btn:hover {
  transition: 0.2s ease-in-out;
  color: var(--dark-blue);
  background-color: var(--accent);
  scale: 1.1;
}
.primary-btn:active {
  transition: 0.2s ease-in-out;
  background-color: var(--accent-dark);
  scale: 1.05;
  border-color: var(--accent-dark);
}
.toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  transition: ease-in-out 1s;
  right: 30px;
}
.toTopBtn svg {
  color: var(--accent);
}
.to-top-btn {
  padding: 10px;
  z-index: 99;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  outline: 4px solid var(--white);
  cursor: pointer;
  border-radius: 100px;
  font-size: 18px;
}
.to-top-btn:hover {
  scale: 1.1;
  transition: 0.2s ease-in-out;
}
.to-top-btn:active {
  transition: 0.2s ease-in-out;
  scale: 1.05;
}
/* nav styles */
.nav-container {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 3em;
  z-index: 99;
  font-size: var(--fs-sm);
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 2em;
  align-items: center;
  font-weight: var(--fw-med);
  margin: 0;
  padding: 0;
}
.nav-links li a {
  color: inherit;
  text-decoration: none;
}
.nav-links li a:hover {
  transition: ease-in-out 0.2s;
  scale: 1.1;
}
.nav-links li a:active {
  color: var(--light-grey);
  transition: ease-in-out 0.2s;
  scale: 1.05;
}
.hover-anim {
  display: inline-block;
  position: relative;
}
.hover-anim::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transition: transform 0.2s ease-out;
}
.hover-anim:hover::after {
  transform: scaleX(1);
}
.hover-anim.center::after {
  transform-origin: bottom center;
}
.hover-anim.center:hover::after {
  transform-origin: bottom center;
}
.nav-links li a.hover-anim:active:after {
  background-color: var(--accent-dark);
  transition: ease-in-out 0.2s;
}
.hamburger {
  display: block;
}
.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--white);
  transition: 0.25s ease-in-out;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .nav-container {
    padding: 1em 4em 0 4em;
  }
  .nav-links {
    justify-content: space-between;
  }
  .nav-links {
    background-color: var(--dark-blue);
    transition: 0.25s ease-in-out;
    position: absolute;
    width: 100%;
    left: -100%;
    top: 90px;
    margin: 0;
    padding: 1em 0 1em 0;
    outline: solid 2px var(--accent);
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .nav-links.is-active {
    left: 0;
  }
}
@media only screen and (max-width: 425px) {
  .nav-container {
    padding: 1em 2em;
  }
}
/* hero styles */
.hero-section {
  background-color: var(--black);
  display: flex;
  align-items: center;
  min-height: 100svh;
  background-image: linear-gradient(
      30deg,
      #0e141c 12%,
      transparent 12.5%,
      transparent 87%,
      #0e141c 87.5%,
      #0e141c
    ),
    linear-gradient(
      150deg,
      #0e141c 12%,
      transparent 12.5%,
      transparent 87%,
      #0e141c 87.5%,
      #0e141c
    ),
    linear-gradient(
      30deg,
      #0e141c 12%,
      transparent 12.5%,
      transparent 87%,
      #0e141c 87.5%,
      #0e141c
    ),
    linear-gradient(
      150deg,
      #0e141c 12%,
      transparent 12.5%,
      transparent 87%,
      #0e141c 87.5%,
      #0e141c
    ),
    linear-gradient(
      60deg,
      #0e141c77 25%,
      transparent 25.5%,
      transparent 75%,
      #0e141c77 75%,
      #0e141c77
    ),
    linear-gradient(
      60deg,
      #0e141c77 25%,
      transparent 25.5%,
      transparent 75%,
      #0e141c77 75%,
      #0e141c77
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
.hero-container {
  line-height: 1;
  max-width: 65em;
  padding-left: clamp(2em, 10vw, 10em);
}
.hero-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xxl);
}
strong {
  color: var(--accent);
  letter-spacing: 4px;
}
.hero-subtitle {
  font-size: var(--fs-xl);
}
.hero-body {
  margin: 1.5em 3em 1.5em 0;
  line-height: 1.6;
  max-width: 35em;
  color: var(--grey);
}
.hero-body strong {
  color: var(--white);
  letter-spacing: 1px;
}
.hero-cta {
  position: absolute;
  text-decoration: none;
}
@media only screen and (max-width: 425px) {
  .hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* main styles */
main {
  background-color: var(--white);
  color: var(--dark-blue);
}
.section-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: var(--fs-l);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  line-height: 1.6;
  padding-top: 1em;
  margin-bottom: 1em;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 60px;
  background: var(--accent);
  border-radius: 5px;
}
.section-subtitle {
  line-height: 1.6;
  font-size: calc(var(--fs-m) + 15%);
  font-family: var(--ff-secondary);
}
/* project styles */
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.project-card {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.project-card-desc {
  padding: 0em 1em;
}
.project-card-desc .section-subtitle {
  line-height: 1.2;
}
.projects-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.project-type {
  font-style: italic;
  font-size: var(--fs-body);
  color: var(--grey);
}
.project-desc {
  padding: 0.5em 0;
}
.project-repo {
  color: var(--accent);
  text-decoration: none;
}
.project-repo:hover {
  scale: 1.1;
  transition: ease-in-out 0.2s;
}
.project-repo:active {
  color: var(--accent-dark);
  scale: 1.05;
}
.project-repo.hover-anim:active:after {
  background-color: var(--accent-dark);
  transition: ease-in-out 0.2s;
}
/* footer styles */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container p.section-title {
  font-weight: var(--fw-sbold);
  margin: 0.5em;
}
.footer-socials {
  display: flex;
  gap: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-socials svg {
  color: var(--accent);
  cursor: pointer;
}
.footer-socials svg:hover {
  transition: ease-in-out 0.2s;
  scale: 1.1;
}
.footer-socials svg:active {
  transition: ease-in-out 0.2s;
  color: var(--accent-dark);
  scale: 1.05;
}

.footer-host {
  display: flex;
  gap: 4px;
  margin-bottom: 1.5em;
}
.footer-host a {
  text-decoration: none;
  color: var(--accent);
}
.footer-host a:hover {
  color: var(--accent-dark);
  transition: ease-in-out 0.2s;
}
