:root {
  /* fonts */
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Titillium Web", sans-serif;
  /* sizes */
  --fs-xxl: clamp(46px, 8vw, 84px);
  --fs-xl: clamp(36px, 6.5vw, 56px);
  --fs-l: 40px;
  --fs-m: 30px;
  --fs-body: 18px;
  --fs-sm: 16px;
  /* --fs-xsm: 14px; */
  /* --fs-btn-sm: 18px; */
  /* --fs-btn-l: 24px; */
  /* weights */
  --fw-black: 900;
  /* --fw-ebold: 800; */
  --fw-bold: 700;
  --fw-sbold: 600;
  --fw-med: 500;
  /* --fw-reg: 400; */
  /* --fw-light: 300; */
  /* --fw-200: 200; */
  /* --fw-thin: 100; */
  /* colours */
  --black: #121b27;
  --white: #fdfdfd;
  --light-grey: #e6e6e6;
  --grey: #afafaf;
  /* --accent: #cfeeb0; */
  --accent: #07f365;
  --accent-dark: #07db5c;
  /* --accent-hover: #9dc3c2; */
  /* box shadows */
  /* --bs: 0.5em 0.5em 0.75em srgba(0, 0, 0, 0.25); */
}
body {
  line-height: 1.6;
  color: var(--white);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.main-header {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xxl);
}
strong {
  color: var(--accent);
  letter-spacing: 4px;
}
.sub-header {
  font-size: var(--fs-xl);
}
main {
  color: var(--black);
}
main section {
  margin-top: 4em;
}
.section-title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: var(--fs-l);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  line-height: 1.6;
  margin-bottom: 2em;
}
.section-title::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 60px;
  background: var(--accent);
  border-radius: 5px;
}
.section-subtitle {
  line-height: 1.6;
  font-size: var(--fs-m);
  font-family: var(--ff-secondary);
}
/* button styles */
.btn {
  border: 2px solid var(--accent);
  padding: 0.75em 1.75em;
  border-radius: 40px;
  color: var(--accent);
  font-weight: var(--fw-med);
  display: inline-block;
}
.btn:hover {
  transition: 0.2s ease-in-out;
  color: var(--white);
  background-color: var(--accent);
}
.btn-secondary {
  border: none;
  color: var(--white);
}
.btn-secondary:hover {
  background-color: transparent;
  color: var(--accent);
}
.article--link {
  color: var(--accent);
  text-decoration: none;
  font-weight: var(--fw-sbold);
}
.article--link:hover {
  color: var(--accent-dark);
  transition: 0.2s ease-in-out;
}
/* nav styles */
.nav-container {
  position: absolute;
  width: 100%;
  background-color: var(--black);
  padding: 1em 0;
  font-weight: var(--fw-med);
}
.nav--main-nav {
  display: flex;
  align-items: center;
  max-width: 2560px;
  justify-content: space-around;
  margin: 0 auto;
}
.nav--main-nav--logo {
  width: 50px;
}
.nav--main-nav--links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
}
.nav--main-nav--links a {
  color: var(--white);
  text-decoration: none;
}
.nav--main-nav--links a:hover {
  color: var(--accent);
  transition: 0.25s ease-in-out;
}
.nav--main-nav--links .btn {
  color: var(--accent);
  padding: 0.3em 1.5em;
}
.nav--main-nav--links .btn:hover {
  color: var(--white);
  background-color: var(--accent);
}
.hamburger {
  display: block;
}
.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--white);
  transition: 0.25s ease-in-out;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .nav-container {
    padding: 1em 4em;
  }
  .nav--main-nav {
    justify-content: space-between;
  }
  .nav--main-nav--links {
    background-color: var(--black);
    transition: 0.25s ease-in-out;
    position: absolute;
    width: 100%;
    left: -100%;
    top: 90px;
    padding-bottom: 2em;
    margin: 0;
    padding: 1em 0 3em 0;
  }
  .nav--main-nav--links {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .nav--main-nav--links.is-active {
    left: 0;
  }
}
@media only screen and (max-width: 425px) {
  .nav-container {
    padding: 1em 2em;
  }
}
/* hero styles */
.hero-section {
  background-color: var(--black);
  display: flex;
  align-items: center;
  min-height: 100svh;
}
.hero-container {
  line-height: 1;
  max-width: 65em;
  padding-left: clamp(2em, 10vw, 10em);
}
.hero--body {
  margin: 1.5em 1em 1.5em 0;
  line-height: 1.6;
  max-width: 35em;
  color: var(--grey);
}
.hero--body strong {
  color: var(--white);
  letter-spacing: 1px;
}
.hero--cta a {
  text-decoration: none;
  margin-bottom: 1em;
}
/* about styles */
.about--skills-container {
  display: flex;
  gap: 4em;
  text-align: center;
  list-style: none;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1em;
}
.about--skills-container li {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about--skills-icon {
  background-color: var(--accent);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.about--skills-icon i {
  font-size: 30px;
}
/* projects styles */
.projects-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2em;
}
.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6em;
  gap: 1em;
}
.project-card:last-child {
  padding-bottom: 0;
}
@media only screen and (max-width: 868px) {
  .projects-container {
    padding: 0 1em;
  }
  .project-card {
    flex-direction: column;
    text-align: center;
  }
}
.project-card:nth-child(2) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 868px) {
  .project-card:nth-child(2) {
    flex-direction: column;
  }
}
.projects-img {
  max-width: 550px;
  min-width: 250px;
  width: 100%;
  height: auto;
}
.project-card--body {
  width: 100%;
}
/* contact styles */
.contact-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
}
.contact-btn {
  text-decoration: none;
  scale: 1.5;
}
/* blog styles */
.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.blog-container li {
  list-style: none;
  width: 300px;
  text-align: center;
}
/* footer styles */
.footer-section {
  display: flex;
  justify-content: space-around;
  background-color: var(--black);
  padding: 2em 2em 0 2em;
}
.footer-section p {
  font-size: var(--fs-xsm);
  color: var(--grey);
}
.footer--left {
  max-width: 400px;
  width: 100%;
  padding-right: 2em;
}
.footer-left--logo {
  height: 75px;
}
.footer--right {
  display: flex;
  gap: 2em;
}
.footer--right ul {
  list-style: none;
}
.right--socials li {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}
.right--socials i {
  font-size: 25px;
}
.footer--link {
  color: var(--white);
  text-decoration: none;
  font-weight: var(--fw-med);
}
.footer--link:hover {
  color: var(--accent);
  transition: 0.2s ease-in-out;
}
.footer--right p {
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
  .footer--right {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .footer-section {
    flex-direction: column;
    text-align: center;
  }
  .footer--left {
    padding: 0 0 1em 0;
  }
  .right--socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
